<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConexionBD_Prueba" connectionString="Data Source=VASQUEZ;Initial Catalog=consultoriojur;Integrated Security=True" providerName="System.Data.SqlClient;" />
  <add name="consultoriojurEntities" connectionString="metadata=res://*/Model.DB.csdl|res://*/Model.DB.ssdl|res://*/Model.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=consultoriojur;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>


</configuration>